@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
}

img {
	max-width: 100%;
}
a:link {
	text-decoration: none;
	padding: 12px 22px;
	border: none;
	background-color: #e55473;
	display: inline-block;
	color: #ffff;
	border-radius: 9px;
}

.container {
	margin: 0 auto;
}
.header-div {
	margin-top: 38px;
	max-width: 1110px;
	display: flex;
}
header {
	background-color: rgb(229, 84, 115, 10%);
	padding-top: 30px;
	margin-bottom: 100px;
}
.header-section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.header-h1 {
	font-size: 60px;
	margin-bottom: 20px;
	font-weight: 800;
}

.header-para {
	padding-right: 190px;
	margin-bottom: 20px;
}
.featured-container {
	max-width: 1110px;
	margin-bottom: 80px;
}

.featured-section {
	text-align: center;
	margin-bottom: 50px;
}
.featured-section-imgs {
	display: flex;
	align-items: last baseline;
	gap: 50px;
}

section figure {
	width: 400px;
	padding: 30px 30px 0;
}
figure p {
	text-align: center;
	border-bottom: 1px solid black;
	margin-top: 22px;
}
.background-1 {
	background-color: rgb(167, 33, 98, 15%);
	border-radius: 50% 50% 0 0;
	height: 415px;
}
.background-2 {
	background-color: rgb(5, 151, 160, 15%);
	border-radius: 50% 50% 0 0;
	height: 415px;
}
.background-3 {
	background-color: rgb(71, 125, 17, 15%);
	border-radius: 50% 50% 0 0;
	height: 415px;
}

.hot-deal-container {
	max-width: 1140px;
	display: flex;
	align-items: center;
}

.hot-deal-container div h3 {
	font-size: 31px;
	margin-bottom: 12px;
}
.hot-deal-container div h3 span {
	color: #e55473;
}
.hot-deal-container div p {
	margin-bottom: 20px;
}
.hot-deal-section {
	background-color: rgb(229, 84, 115, 10%);
	margin-bottom: 60px;
}
.instagram-section {
	max-width: 1140px;
	margin-bottom: 60px;
}
.instagram-titles {
	text-align: center;
}

.instagram-titles h3 {
	font-size: 26px;
	margin-bottom: 15px;
}

.instagram-titles p {
	color: rgba(17, 16, 16, 0.623);
}

.instagram-imgs {
	display: flex;
}

.latest-deal-section {
	max-width: 1120px;
	background-image: url("./Flower\ Asset/Rectangle 9.png");
	background-repeat: no-repeat;
	margin-bottom: 70px;
}

.latest-deal-header {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 35px;
}
.latest-deal-header h3 {
	font-size: 27px;
	margin-bottom: 10px;
}
.latest-deal-header p {
	color: rgba(17, 16, 16, 0.63);
}
.latest-deal-form {
	text-align: center;
	padding-bottom: 100px;
}

.latest-deal-form input {
	padding: 11px 100px;
	border: none;
	border-radius: 12px;
	margin-right: 20px;
}

footer {
	text-align: center;
	padding: 100px;
	background-color: #111010;
}
footer h3 {
	color: #e55473;
	margin-bottom: 20px;
	font-size: 23px;
}
footer h3 span {
	color: #fff;
}
footer p {
	color: rgba(255, 255, 255, 40%);
}
footer > p {
	margin-bottom: 16px;
}
